
#user a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(160, 160, 160);
}

div#userImage img{
    width: 220px;
    margin-top: 60px;
    margin-right: 30px;
    border-radius: 50%;
}

div#user{
    padding: 10px;
    font-size: 22px;
    width: 80%;
}

ul#lista {
    width: 100%;
    margin: 50px 0 auto;
}

#lista a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}
ul#lista li {
    padding: 10px;
}

ul#lista b {
    font-size: 20px;
}

div#user p {
    font-size: 16px;
    color: rgb(0, 0, 0)
}

#formAdd {
    width: 100%;
}

#formAdd input{
  outline: 0;  
  padding: 20px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 20px;
  border: none;
}

#formAdd button {
  background-color: blue;
  color: white;
  outline: 0;  
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}